.git/
.env
.DS_Store
config.php
docker-compose.override.yml

/vendor/
/node_modules/

/qrcode/cache/*
!/qrcode/cache/index.html
/system/cache/*
!/system/cache/index.html
/ui/cache/*
!/ui/cache/index.html
/ui/compiled/*
!/ui/compiled/index.html
/system/uploads/*
!/system/uploads/*.default.*
!/system/uploads/paid.png
!/system/uploads/index.html
/system/uploads/_sysfrm_tmp_/*
/system/uploads/tmp/*
/uploads/tmp/*

*.sql.gz
*.dump
*.bak
